.popup-box {
  position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
  }
   
  .box {
    position: relative;
    width: 60%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 50px;
    border: 1px solid #999;
    overflow:hidden;
    z-index: 2;
  }
   
  .close-icon {
    position: fixed;
    content: 'x';
    cursor: pointer;
    right: calc(20% - 20px);
    top: calc(101.4vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

h1 {
  color: #3c9cb4;
  padding: 10px;
  text-align: center;
}

.popup-box2 {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  align-content: center;
}
     
.box2 {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 50px;
  border: 1px solid #999;
  overflow:hidden;
  z-index: 3;
  padding:20px; 
}
     
.close-icon2 {
  position: fixed;
  content: 'x';
  cursor: pointer;
  right: calc(35% - 30px);
  top: calc(101.5vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
  
h3.long {
  color: #d81d55;
  margin: auto;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

h3 {
  color: #d81d55;
  margin: auto;
  text-align: center;
}

.drop {
    width: 100%;
    height: 42px;
    outline: none;
    border: 1px solid rgb(228, 226, 226);
    padding: 0px 10px;
   
    transition: all 200ms ease-in-out;
    font-size: 12px;

  
  }

  .drop:hover {
    outline: none;
    border-bottom: 2px solid #bf88ff;
    
  }

  